<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.module.person.dao.PersonFitnessMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.module.person.po.PersonFitness">
                    <id column="id" property="id"/>
                    <result column="time" property="time"/>
                    <result column="lunch" property="lunch"/>
                    <result column="breakfast" property="breakfast"/>
                    <result column="dinner" property="dinner"/>
                    <result column="exercise" property="exercise"/>
                    <result column="weight" property="weight"/>
                    <result column="created_time" property="createdTime"/>
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
            id, time, lunch, breakfast, dinner, exercise, weight, created_time
        </sql>

</mapper>